<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.jnogueroles.jlugares"
    versionCode = "1"
    version     = "0.0.1" >
  <name>lugares</name>
  <description>
      Lugares
  </description>
  <author  email="jnogueroles@iesperemaria.com">
      Jaime Nogueroles Llinares
  </author>
 
  <access origin="*" />
  <plugin name="cordova-plugin-whitelist" />
</widget>
